<div class="row">
  <div class="col-md-8 col-md-offset-2">
  	<div class="breadcrumbs">
	  <h4>
	    <%= render 'shared/root_path' %>
	  </h4>
	</div>

	<%= form_for @folder do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <%= f.label 'Enter folder name:' %> <br>
	  <%= f.text_field :name, placeholder: 'Folder Name' %> <br>
	  <%= f.hidden_field :parent_id, :value => params[:folder_id] %> 
	  <%= f.submit 'Save', class: 'btn btn-primary' %>
	<% end %>  	
  </div>
</div>
