<%= link_to "Upload File", new_user_file_path(folder_id: @folder.id), class: 'btn btn-primary' %>
<%= link_to "Create Folder", new_folder_path(folder_id: @folder.id), class: 'btn btn-primary' %>

<div class="breadcrumbs">
  Path: / <%= render 'shared/path_display' %> <%= "#{@folder.name} /" %>	
</div>


<%= render 'shared/display_contents' %>