<div class="row">
  <div class="col-md-8 col-md-offset-2">

	<button id="openFileModal" class="btn btn-primary">Upload file</button>
    <button id="openFolderModal" class="btn btn-primary">Create folder</button>

	<div class="breadcrumbs">
	  <h4>
        <%= render 'shared/root_path' %>
        <%= render 'shared/path_display' %> <%= "#{@folder.name} /" %>	  		
	  </h4>
	</div>
	<%= render 'shared/display_contents' %>
  </div>
</div>

<%= render 'shared/modals' %>